        body {
            background-image: url('../img/backGround.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            position: relative;
        }


        .background {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.1);
            z-index: 2;
            display: block;
        }

        .main {
            margin: 0 auto;
            position: relative;
            z-index: 4;
        }